body {
	background-color: powderblue;



}
h1, h2 {
	text-align: center;

}

a:link, a:visited {
	text-decoration: none;
	color: black;

}

a:hover {
	text-decoration: underline;
	color: blue;
}

label, input, button {
	display: block;
}

.logo {
	width: 25px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	border: solid white;
	background-color: white;

}

.container a {
	background-color: white;
	text-align: center;
	padding: 15px;

}

.form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin:8%;
	gap: 15px;
	border: solid black;
	border-radius: 25px;
}

#name, #email {
	width: 40%;
}

#message {
	width: 60%;
}
